body,html{
	height: 100%;
	margin: 0%;
	font-family: 'Titillium Web',sans-serif;
}
/*** START REUSABLE COMPONENT ***/

h1{
	font-family: 'Titillium Web',sans-serif;
}
h2{
	font-family: 'Titillium Web',sans-serif;
}
h4{
	font-family: 'Titillium Web',sans-serif;
}
p{
	font-family: 'Titillium Web',sans-serif;
	font-size: 18px;
}

.topNavigationContainer{
	padding: 0;
	background: none;
}
a{
	font-size: 18px;
	transition: .5s;
}
a:hover{
	color:red;
}
.linkClass{
	color:#fff;
}
.dropdownLink{
	font-size: 16px;
}
.dropdown-show .dropdown-toggle{
	color: #fff !important;
}
span.navbar-brand {
	color: #000 !important;
	font-size: 22px;
}

.HomePageSection{
    background: linear-gradient(rgba(135,80,156,.7),rgba(135,80,156,.2)),url(../image/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    overflow: hidden;
	min-height: 800px;
	height: 100%;
    text-align: center;
}
.topSection{
	background: rgb(22, 20, 20);
	color: #fff;
	padding: 20px;
	text-align: left;
}
.bottomSection{
	background:#fff;
	color: #000;
	padding:30px 30%;
	margin-bottom: 100px;
}
/*** END REUSABLE COMPONENT ***/

/*** START THUMBNAIL SECTION ***/
.thumbnailSection{
    background: linear-gradient(rgba(135,80,156,.7),rgba(135,80,156,.2)),url(../image/thumbnail.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    overflow: hidden !important;
	height: 60vh;
    text-align: left;
}
.thumbnailSection .title{
	margin-top: 30px;
	color: #fff;
	font-weight: 600;
}
.thumbnailSection .description{
	margin-top: 30px;
	color: #000;
	font-weight: 500;
}
.thumbnailSection .formSection{
	margin-top: 30px;
}
.thumbnailSection .searchForm{
	background: none;
	color: #000 !important;
	font-size: 16px;
}
.thumbnailSection .searchForm:hover{
	background: #b8b1ae;
}
/*** END THUMBNAIL SECTION ***/


/*** START LATESTPOST SECTION ***/
.LatestPostSection{
	overflow: hidden;
	text-align: left;
	background: #fff;
}
.LatestPostSection .latestPost{
	margin-top: 20px;
	font-size: 20px;
	text-transform: capitalize;
	font-family: 'Titillium Web',sans-serif;
	color: #000;
	font-weight: 600;
}
.LatestPostSection .postFeaturedImg{
	height: 100px;
	width: 100px;
}
.LatestPostSection .postTitle{
	font-size: 22px;
	text-transform: capitalize;
	color: #000;
	font-weight: 600;
}
.LatestPostSection .postInfo{
	font-size: 16px;
	font-family: 'Titillium Web',sans-serif;
	color: #000;
	font-weight: 400;
}
/*** END LATESTPOST SECTION ***/

/***  START SINGLE POST PAGE SECTION ***/
.singlePostPage{
	margin: auto 15%;
}
.singlePostPage .postDetails{
    background: #fff;
    text-align: left;
}
.singlePostPage .singlePageRow{
    padding: 15px;
}
.singlePostPage .postDetails .adminDetails .adminCard{
    padding: 15px;
}
.singlePostPage .postDetails .adminDetails .img{
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}
.singlePostPage .postDetails .adminDetails .name{
	font-size: 22px;
	font-weight: 600;
}
.singlePostPage .postDetails .adminDetails .info{
	color: #a7aa1a;
}
.singlePostPage .postDetails .postTitle{
	margin-top: 30px;
}
.singlePostPage .postDetails .postTitle .title{
	font-size: 38px;
	color: #000000;
	font-weight: 600;
}
.singlePostPage .postDetails .descriptionPost .postDescription{
	font-size: 18px;
	font-weight: 600;
	color: #000000;
}
.singlePostPage .postDetails .descriptionPost .nextPost{

}
.singlePostPage .commentBox{
    margin-right: 40%;
}
.singlePostPage .commentBox .textArea{
    margin-bottom: 15px;
}
.singlePostPage .commentBox .submitBtn{
    padding: 5px 20px;
}
.singlePostPage .commentRow{
    margin: 10px auto;
    padding: 20px;
}
.singlePostPage .commentRow .moreComment{
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.singlePostPage .commentRow .commentCard .parentComment{
	padding: 25px;
}
.singlePostPage .commentRow .commentCard .authorBio .img{
    height: 80px;
    width: 80px;
}
.singlePostPage .commentRow .commentCard li{
    list-style: none;
}
.singlePostPage .commentRow .commentCard li .btn{
    padding: 8px 18px;
}
.singlePostPage .commentRow .commentCard li .replyBtn{
    margin-left: 30px;
}
.singlePostPage .commentRow .commentCard  .parentHR{
	width: 100%;
}
.singlePostPage .childComment{
	padding: 20px 15%;
}
.singlePostPage .replyCommentBox {
	width: 100%;
}
.singlePostPage .replyCommentBox .commentBoxCol{
	margin: 10px 10%;
}
.singlePostPage .replyCommentBox .commentBoxCol .textArea{
	width: 60%;
	margin-bottom: 10px;
}

/*** END SINGLE POST PAGE SECTION ***/



/*** START SIGN IN FORM ***/

.middleContainer{
	margin: auto 15%;
}
.signinFormSection{
	text-align: left;
	overflow: hidden;
}

.signinFormSection .signINHR{
	background: #b8b1ae;
}
.signinLinkClass{
	font-size: 18px;
}

/*** END SIGN IN FORM ***/


/*** START USER PROFILE ***/

.userProfileSection{
	overflow: hidden;
	text-align: left;
	margin-bottom: 160px;
}
.userProfileSection .topSection{
	color: #fff;
	background: rgb(22, 20, 20);
	padding: 20px;
}
.userProfileSection .bottomSectiom{
	background: #fff;
	padding: 25px;
	color: #000;
}
.userProfileSection .userImg{
	margin: 10px auto auto;
	height: 150px;
	width: 150px;
}
.userProfileSection .name{
	margin-top: 5px;
}

/*** END USER PROFILE ***/

/***  START ADD NEW SECTION ***/

.addNewSection{
	overflow: hidden;
	text-align: left;
	margin-bottom: 200px;
}
.addNewSection .topSection{
	color: #fff;
	background: rgb(22, 20, 20);
	padding: 20px;
}
.addNewSection .addNewHR{
	background: #b8b1ae;
}
.addNewSection .bottomSection{
	background:#fff;
	color: #000;
	padding: 20px;
}
.addNewSection .formClass{
	margin: auto 30%;
}
/*** END ADD NEW SECTION ***/

/***  START RESGISTRATION SECTION ***/
.registrationSection .bottomSection{
	padding: 30px;
	text-align: left;
}

/***  END RESGISTRATION SECTION ***/


/*** TOP NAVIGATION CSS ***/
a.d-block.nav-link.disabled {
	color: #fff !important;
}
.dropdown-menu.show {
	padding-left: 15px;
}